#propertyDesc{
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 2%;
}
.return-control{
    margin: 10px 0;
}
.return-link{
    display: flex;
    align-items: center;
    width: fit-content;
    text-decoration: none;
    padding: 2px 5px;
}
.return-link:hover{
    text-decoration: underline;
}
.return-link svg{
    margin-right: 5px;
}
.desc__container{
    padding: 2%;
    width: 80%;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
}
.property-info{
    margin: 10px 0;
    color: #333;
}
.property-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 1.2em;
}
.gallery{
    border-radius: 6px;
    overflow: hidden;
    width: 100px;
    height: 80px;
    cursor: zoom-in;
}
.property-gallery-image{
    width: 100%;
    height: 100%;
}